*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#4C5B52;
    font-weight: bold;
}

/*NAVEGADOR*/

.cabecera{
    height: 100px;
    background-color: #fff;
}
.nav-main{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: #fff;
    position: fixed;
    z-index: 10;
}

.logo img{
    width: 250px;
    padding-top:10px;
    padding-left: 20px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    width: 50%;
    padding: 10px 0;
}

.nav-menu li{
    margin: 10px;
}
.nav-menu li a{
    width: 100%;
    font-size: 17px;
}

.servicios{
    cursor: pointer;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top:20px;
    right: 30px;
    z-index: 10;
    font-size: 1.5rem;
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(88, 84, 84);
}

.menu-secundario{
    position: fixed; 
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 50px 70px;
    align-items: center;
    background: #fff;
    border-top: 2px solid #f0f1f0 ;
    z-index: 20;
    top: -100%;
}

.boton{
    width: 300px;
    display: flex;
    cursor: pointer;
    display: none;
}

.boton i{
    padding: 0 10px;
    font-size: 20px;
    color: #4C5B52;
}

.boton a{
    width: 190px;
    color:#4C5B52 ;
    padding-left: 20px;
    font-size: 50px;
}

.menu2{
  top: 120px;
}

.menu-secundario li{
   width: 210px;
   height: 65px;
   padding: 15px 30px 40px 10px;
   margin: 30px;
}

.menu-secundario li a{
    font-size: 20px;
}

.menu-secundario li:hover{
    background: #f0f1f0;
}

.menu-secundario .nav-item::after{
    font-family: 'FontAwasome'; 
    content: "\f178";
    color:#4C5B52;
    opacity: 0;
 }
 .menu-secundario .nav-item::after:hover{
    opacity: 1;
 }
form{
    position: relative;
    right: 120px;
}
.input{
    font-size: 17px;
    height: 40px;
    background: #f0f1f0;
    border-radius: 0.3rem;
    border: none;
}

form i{
    position: absolute;
    z-index: 20;
    right: 10px;
    top: 12px;
}

/*SHOWCASE*/

.showcase{
    width: 100%;
    height: 900px;
    background: url(img/Plaza.png) no-repeat center center/cover;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.showcase h1{
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

.showcase p{
    color: #fff;
    font-size: 35px;
    text-align: center;
}

/*ACTIVIDADES*/

.cards{
   display: grid;
   grid-template-columns: 100%;
}

.cards h3{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.cards p{
    color: #fff;
    font-size: 15px;
}

.vacunate{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
    gap: 4px;
    width: 100%;
}

.c1{ 
    background: url(img/Vacunate.png) no-repeat center center/cover;
    width: 100%;
}
.c2{
    width: 100%;
    background:#4C5B52;
}

.caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c2 h3{
    font-size: 30px;
}
.caja .contenedor{
    margin-left: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    margin: 10px;
} 

.btn-rojo{
    cursor: pointer;
    color: #fff;
    display:inline-block; 
    padding: 14px 90px; 
    background:#DA302B;
    font-size: 13px; 
}

.imagenes{
    display: grid; 
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%; 
    gap: 10px;
    width: cover; 
    height: 600px;
    margin-bottom: 40px;
    padding-right: 1px;
} 

.cajas{
  /*  width: 100%; */
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  /*  align-items: center; */
}

.cajas .contenedor{
    width: 80%;
    height: 90px;
    margin-bottom: 20px;
    margin: 10px;
}

.c3{
  /*  width: 100%; */
    height: 100%; 
    grid-column: 1/2;
    grid-row: 1/5;
    background: linear-gradient(rgba(0, 0, 0, 0.01),rgb(0, 0, 0)), url(img/Card-Turismo.svg) no-repeat center/cover;
}
.c4{
    height: auto;
    grid-row: 1/3;
    background: linear-gradient(rgba(0,0,0,0.01),rgb(0, 0, 0)), url(img/Card-Campana.svg) no-repeat center/cover ;
}
.c5{
    height: auto;
    grid-row: 1/2;
    background:linear-gradient(rgba(0, 0, 0, 0.01),rgb(0, 0, 0)), url(img/card-autogestión.png) no-repeat center/cover ;
}
.c6{
    height: auto;
    grid-row: 3/5;
    background:linear-gradient(rgba(0, 0, 0, 0.01),rgb(0, 0, 0)), url(img/Card-Covid19.png) no-repeat center/cover ;
}
.c7{
    height: auto;
    grid-row: 2/5;
    background:linear-gradient(rgba(0, 0, 0, 0.01),rgb(0, 0, 0)), url(img/card-mate.png) no-repeat center/cover ;}

/*NOVEDADES*/

.novedades{
    background: #F4CD5C;
    padding: 0;
    padding-top: 50px;
    position: relative;
}
.novedades div{
    position: relative;
}
h2{
    color: #fff;
    font-size: 60px;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: center;
}

.news-cards{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    padding: 0 100px;
    gap: 0px;
}

.news{
    width: 95%;
    overflow: hidden;
    height: 400px;
}

.foto{
    height: 70%;
}
.foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto{
    height: 30%;
    width: 100%;
    padding: 20px;
    background: #fff;
}
.texto p{
    font-size: 17px;
    font-weight: bold;
    color: rgb(88, 84, 84);
    text-align: center;
}

.radio{
    background: #4C5B52;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 85%;
    height: 200px;
    padding: 20px;
    top: 100px;
    margin: 0 auto;
    z-index: 1;
}
.radio .logo-radio{
    width: 200px;
}
.radio .play{
    width: 50px;
}
.radio img{
    width: 120px;
}

.radio p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.redes{
    background: #DA302B;
    height: 370px;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
}

.redes .contenedor{
    color: #fff;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    align-items: center;
}

.redes .contenedor p{
    font-size: 20px;
    margin-bottom: 20px;
}

.iconos{
    width: 100%;
    align-content: center;
}

.redes .contenedor .links{
    display: flex;
    width: 520px;
    margin: 0 auto;
    
}
.redes .contenedor i{
    color: #fff;
    font-size: 55px;
    padding: 0 40px;
}
#borde{
    border-right: 3px solid #F4CD5C;
}

/*FOOTER*/
.footer{
    background: #fff;
    display:flex;
    gap:150px;
    padding: 60px;
}
.footer img{
    width: 200px;
}
.menu-footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;
}
.menu-footer h4{
    font-size: 18px ;
}
.menu-footer li{
    padding: 3px 0;
}

.menu-footer li a{
    font-size: 17px;
    font-weight: 400;
}
.menu-footer .correo{
    text-decoration: underline;
}

.menu-footer p{
    font-size: 16px;
    color: #4C5B52;
}

.correo-alpha .correo2 a{
    text-decoration: underline;
}
.correo-alpha .correo2{
    display: none;
}

@media(max-width: 1200px){

    .nav-menu li a{
        font-size: 15px;
    }

    form{
        position: relative;
        right: 30px;
    }

    .input{
        width: 170px;
    }

    .menu-secundario li{
        width: 140px;
        margin: 30px 20px;
     }

    .news-cards{
        grid-template-columns: 50% 50%;
        width: 100%;
        padding: 70px;
        gap: 30px;
    }

    .news {
       white-space: 100%; 
    } 

    .menu-footer{
        grid-template-columns: 1fr 1fr;
    }
}

/*VERSION Para Tablets*/
@media(max-width: 900px){

/*NAVEGADOR*/

.cabecera{
    display: none;
}
.nav-main{
    height: 80px;
}
.logo img{
    width: 200px;
}

form {
    right: 70px;
    top: 0;
    margin-bottom: 37px;
}

form i {
    font-size: 25px;
    top: 0;
}

.input{
    display: none;
}


    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        margin: 0;
        top: 80px;
        padding: 0;
        background: rgb(209, 208, 208); 
        border: 1.5px solid rgb(209, 208, 208);
        width: 100%;
        height: 90%;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 2px;
        right: -100%;
        transition: 0.4s;
        z-index: 10px;
    }

    .nav-menu li{
        width: 100%;
        height: 100%;
        padding: 20px;
        background: #fff;
        margin: 0;
    }

    .nav-menu.active{
        right: 0;
    }

    .tramites{
        display: block;
    }

    .menu-secundario{
        display: grid;
        grid-template-columns: 1fr;
        top: 80px;
        height: auto;
        width: 100%;
        right: -100%; 
        background: rgb(209, 208, 208); 
        gap: 0;
        padding: 1px 0;
    }
    .menu-secundario li{
        width: 100%;
        height: 100%;
        margin: 0;
        background: #fff;
        border: 1.5px solid rgb(242, 242, 242);
        padding: 20px;
     }
     
    .menu-secundario .nav-link{
         font-size: 17px;
     } 

     .menu2{
        right: 0;
     }

     .boton{
        display: block;
     }

    /*ACTIVIDADES*/

    .cards h3{
        font-size: 20px;
    }
    .cards p{
        font-size: 15px;
    }

    .caja .contenedor{
        margin-left: 10px;
        width: 90%;
    }

    .cajas .contenedor{
        width: 90%;
    }

    .vacunate{
        grid-template-columns: 100%;
    }
    
    .imagenes{
        display: grid;
        grid-template-columns: auto auto /*50% 50% */;
        grid-row: 25% 25% 25% 25%;
        height: 800px;
     /*   width: 98%; */
    }
    .c3{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .c4{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .c5{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .c6{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .c7{
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .c2 h3{
        font-size: 30px;
    }
    .caja .contenedor{
        width: 90%;
    } 

    /*NOVEDADES*/

    .novedades{
        padding: 0;
    }
    .novedades h2{
        font-size: 30px;
        margin: 0;
    }

    .radio{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .logo-radio{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .radio p{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .play{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .volumen{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .redes .contenedor .links{
        width: 300px; 
    }
    
    .redes .contenedor i{
        padding: 0 20px;
    }
    
    /*FOOTER*/

    .footer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3px;
    } 
    .logo-footer{
        margin: 10px auto;
    }
    .menu-footer{
        gap: 10px;
        padding: 5px;
    }

    .correo{
        display: none;
    }
    .correo-alpha i{
        display: block;
    }
    .correo-alpha .correo2{
        display: block;
        display: flex;
    }
}

/*VERSION MOVIL*/

@media(max-width: 500px){

    /*NAVEGADOR*/

    .cabecera{
        display: none;
    }
    .nav-main{
        height: 80px;
    }
    .logo img{
        width: 200px;
    }

    form {
        margin-bottom: 37px;
    }

    /*SHOWCASE*/

    .showcase{
        background: url(img/plaza2.png) no-repeat center center/cover;
        height: 700px;
    }
    .showcase h1{
        font-size: 50px;
        text-align: center;
    }

    .showcase p{
        text-align: center;
    }

    /*ACTIVIDADES*/

    .cards h3{
        font-size: 16px;
    }

    .c2 h3{
        font-size: 25px;
    }

    .c1{
        height: 190px;
    }
/*
    .imagenes{
        width: 97%;
    } */

    /*NOVEDADES*/

    .novedades h2{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .news-cards{
        grid-template-columns: 100%;
        padding: 0 10px;
        margin: 0 auto;
    }

    .news{
        width: 100%;
    }
    .radio{
        height: auto;
    }
    .radio p{
        font-size: 25px;
        padding: 5px 40px;
    }

    .redes .contenedor i{
        font-size: 40px;
        padding: 0 10px;
    }

    .redes .contenedor .links{
        width: 220px;
    }

}

@media(max-width: 325px){
    .menu-footer{
        grid-template-columns: 1fr;
    }

}
